/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*
* Layout
*/
html {
  scroll-behavior: smooth;
}

.content-container {
  max-width: 960px;
  margin: 0 auto;
}


@media (max-width: 960px) {
  .content-container {
    margin: 0 1em;
  }
}

.content-section {
  margin-top: 5em;
}

.page-section {
  padding-top: 5em;
}

/*
* Utilities
*/
.text-center {
  text-align: center;
}

/*
* Typography
*/
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
}

/*
* Main Banner v1.0
*/
.main-banner {
  height: 88px;
}

.logo-link {
  width: 50px;
  padding: 5px;
  grid-area: logo-link;
}

.logo {
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  z-index: 1;
  background: linear-gradient(to right, rgba(204, 83, 51, 0.95), rgba(35, 7, 77, 0.95));
  width: 100%;
}

nav .nav-content {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  grid-template-areas: "logo-link nav-list";
}

.main-banner-nav-list {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  grid-area: nav-list;
}

.main-banner-nav-list li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.main-banner-nav-list li:hover {
  background: cornflowerblue;
}

.main-banner-nav-list li a {
  text-decoration: none;
  color: white;
}

.main-banner-nav-list a:hover {
  color: black;
  border-bottom: 2px solid;
  transition: color .5s, border-bottom .5s;
}

.main-banner .toggle {
  height: 88px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: right;
  color: white;
  font-size: 20px;
  display: none;
  grid-area: toggle;
}

@media (max-width: 768px) {
  nav .nav-content {
    grid-template-areas: "logo-link toggle";
  }

  .main-banner .toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
  }

  .main-banner-nav-list {
    display: none;
    position: absolute;
    background: black;
    width: auto;
    right: 0;
    top: 88px;
  }

  .main-banner-nav-list.open {
    display: block;
  }

  .main-banner-nav-list li {
    display: block;
    text-align: right;
  }

  .active {
    display: block;
  }
}

/*
* Image Carousel v1.1
*/
.carousel-wrapper {
  height: 220px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#carousel-image-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  height: 100%;
  transition: 50s;
  transition-timing-function: linear;
}

#carousel-image-wrapper,
.carousel-image {
  width: 100%;
  height: 100%;
}

#carousel-image-1 {
  background-image: url(../img/graduates3.jpg);
  background-size: cover;
  background-position: 50%;
}

#carousel-image-2 {
  background-image: url(../img/graduates2.jpg);
  background-size: cover;
  background-position: 0% 32%;
}

#carousel-image-3 {
  background-image: url(../img/graduates1.jpg);
  background-size: cover;
  background-position: 0% 32%;
}

.carousel-button-wrapper {
  position: absolute;
  bottom: 0;
  left: 48%;
}

.carousel-dots {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}

.carousel-txt {
  color: brown;
  margin: auto;
  padding-top: 100px;
}

.carousel-txt h1,
.carousel-txt p {
  margin: 0;
  text-align: center;
}

.carousel-txt p {
  color: white;
}

.ref {
  background-color: black;
  padding: 0 5px;
}

@media screen and (min-width:570px) {
  .carousel-wrapper {
    height: 420px;
  }

  .carousel-txt {
    height: 200px;
    width: 400px;
    padding-top: 200px;
  }

  .carousel-txt h1 {
    font-size: 4rem;
  }

  .carousel-txt p {
    font-size: 2rem;
  }
}

/*
* Text with Video v1.0
*/
.video-wrapper iframe {
  height: 320px;
  width: 100%;
}

@media screen and (min-width:570px) {
  .video-wrapper {
    margin: auto;
    width: 550px;
    height: 350px;
  }

  .video-wrapper iframe {
    width: 100%;
    height: 100%;
  }
}

/*
* Image Scrolling Banner v1.0
*/
.image-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-banner-1 {
  background-image: url("http://placeimg.com/940/480/nature");
}

.banner-text {
  font-size: 40px;
  font-weight: bolder;
  color: #26a9c3;
  text-transform: uppercase;
}

/*
* Image Columns v1.1
*/
.column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}

@media (max-width: 960px) {
  .column-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .column-wrapper {
    grid-template-columns: 1fr;
  }
}

.single-column img {
  width: 100%;
}
/*
* Footer v1.0
*/
/* footer {
  padding-top: .75em;
  background: rgba(232, 236, 241, 1);
} */

.footer-main {
  background: #363839;
  border-top: 1em solid #e9eaee;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 25px;
  padding: 2em 0;
  margin-top: 5em;
  text-align: left;
  color: white;
  font-family: arial;
}

.footer-column {
  margin: 0 25px;
}

.footer_social {
  margin-top: 42px;
}

.footer-button {
  background-color: rgba(34, 157, 187, 1);
  border: none;
  color: white;
  padding: 10px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.footer_social-icons {
  padding: 0;
}

.footer_social-icons li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.footer_social-icons li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* =================================
media queries
==================================== */

@media (min-width: 768px) {
  .footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-row: auto;
  }

  .footer-column {
    margin: 0 50px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

p {
  font-size: .95em;
  margin-bottom: 1.5em;
}

h2,
h3,
a {
  color: #093a58;
}

h2,
h3 {
  margin-top: 0;
}

/* =================================
Base Layout Styles
==================================== */

.page-template.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, auto);
  grid-gap: 50px;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

.page-template header {
  grid-area: header;
}

.page-template main {
  grid-area: main;
  margin: 0 25px;
}

.page-template footer {
  grid-area: footer;
}

.header {
  background-image: url("../img/placeimg_968_190_nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.aside-navigation li {
   list-style: none;
   font-size: 1.5em;
   border-top: .5px solid #9aa4a5;
   border-bottom: .5px solid #9aa4a5;
   border-left: 1px solid #9aa4a5;
   padding: 1rem;
}

.aside-navigation a {
   text-decoration: none;
   color: #070606;
}

.aside-navigation a:focus{
   color: #9e9e9e;
}
/* =================================
Contact Page Styles
==================================== */
.contact-form {
      display: grid;
      /* max-width: 50%; */
      margin: 50px 0px 0px 50px;
    }

.contact-form label{
      color: #747474;
    }
.contact-form input{
      line-height: 1.5rem;
      margin-bottom: 20px;

    }
.contact-form textarea{
      padding-bottom: 120px;
    }

.form-button{
      max-width: 110px;
      margin-top: 20px;
      padding: 15px;
      background-color: #1ab2cf;
      color: #ffffff;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
    }
.form-button:hover{
      background-color: #009dbb;
    }
    /* =================================
    graduates3 Page Styles
    ==================================== */
  .figure {
      display: grid;
      margin: 0 auto;
  }

  .figure img {
      width: 100%;
      /* margin: 1em; */
  }
.figure p{
  text-align: center;
}
  .figure figcaption {
      text-align: center;
      margin-top: 1em;
  }
  .figure figcaption a {
      text-decoration: none;
      display: block;
  }
  .fourColumnGrid {
      display: grid;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1em;
      }
  .fourColumnGrid img {
      width: 100%;
      }
.fourColumnGrid figure{
  margin: 0 20px;
}
  @media(max-width: 680px){
    	.fourColumnGrid{
    		display: grid;
    		grid-template-columns: 1fr 1fr;
    	}
    }
  @media(max-width: 360px){
      	.fourColumnGrid{
      		display: grid;
      		grid-template-columns: 1fr;
      	}
      }
/* =================================
media queries
==================================== */

@media (min-width: 992px) {
  .page-template.container {
    grid-template-columns: 5fr 2fr;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  }

  .page-template main{
    margin: 0 50px;
  }

  .page-template aside {
    margin: 0 10px;
  }
}
