<figure class="component" title="figure Component" version="1.1">
  <style>
    .figure {
      display: grid;
      margin: 0 auto;
    }

    .figure img {
      width: 100%;
      margin-bottom: 1em;
    }

    .figure figcaption {
      text-align: center;
    }

    .figure figcaption a {
      text-decoration: none;
    }
  </style>

  <markup>
    <div class="figure-component">
      <div class="summer-2017">
        <p>Graduates from the Summer 2017 Refcode class.</p>
        <figure class="figure">
          <img src="../../img/mustafa.jpg" alt="">
          <figcaption>
            <span>Mustafa Alsaeedi</span>
            <a href="http://MustafaAlsaeedi.tk/">Website: MustafaAlsaeedi.tk</a>
            <a href="https://github.com/MustafaAlsaeedi">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/mustafa-a-b207a4150/">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/joan.jpg" alt="">
          <figcaption>
            <span>>Joan Abad</<span>
              <a href="https://nande.ml/">Website: nande.ml</a>
              <a href="https://github.com/joanhdez89">GitHub Profile</a>
              <a href="https://www.linkedin.com/in/joan-hernandez-abad-41335a93/">LinkedIn Profile</a>
          </figcaption>
        </figure>

        <figure class="figure">
          <img src="../../img/mobin.jpg" alt="">
          <figcaption>
            <span>>Mobin Zahedi</<span>
              <a href="https://mobinzahedi.ga/">Website: mobinzahedi.ga</a>
              <a href="https://github.com/mobinzahedi">GitHub Profile</a>
          </figcaption>
        </figure>

        <figure class="figure">
          <img src="../../img/hemin.jpg" alt="">
          <figcaption>
            <span>Hemin Muradkhan</span>
            <a href="https://kirkukcenter.ga/">Website: kirkukcenter.ga</a>
            <a href="https://github.com/kirkukcenter">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/unavailable/">LinkedIn Profile</a>
          </figcaption>
        </figure>
      </div>
      <div class="summer-2018">
        <p>Graduates from the Summer 2018 Refcode class.</p>
        <figure class="figure">
          <img src="../../img/Sintayehu_800.jpg" alt="">
          <figcaption>
            <span>Sintayehu Mekonnen</span>
            <a href="http://sintu.me/">Website: sintu.me</a>
            <a href="https://github.com/24sint">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/sintu-m/">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/selamu_800.jpg" alt="">
          <figcaption>
            <span>Selamu Otocho</span>
            <a href="http://selamu.ga/">Website: selamu.ga</a>
            <a href="https://github.com/daruselamselamu">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/selamu-otocho-90173977/">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/Mekuanent_800.jpg" alt="">
          <figcaption>
            <span>Mekuanent Gelagay</span>
            <a href="https://tolo.ga/">Website: tolo.ga</a>
            <a href="https://github.com/Gelagay/">GitHub Profile</a>
            <a href="linkedin.com/in/meku-gelagay-81009912b/">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/Yohannes_800.jpg" alt="">
          <figcaption>
            <span>Yohannes Bahta</span>
            <a href="https://ethioerinews.ga/">Website: ethioerinews.ga</a>
            <a href="https://github.com/Yohannesbb">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/yohannes-bahta-3a2baa165/">LinkedIn Profile</a>
          </figcaption>
        </figure>
      </div>
      <div class="spring-2019">
        <p>Graduates from the Spring 2019 Refcode class.</p>

        <figure class="figure">
          <img src="../../img/Nezira.png" alt="">
          <figcaption>
            <span>>Nezira Usmael</span>
            <a href="nezirausmael.ga">Website: nezirausmael.ga</a>
            <a href="https://github.com/UmmuAyyub/">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/nezira-usmael-6358b3182/">LinkedIn Profile</a>
            <figcaption>
        </figure>

        <figure class="figure">
          <img src="../../img/Tariku.png" alt="">
          <figcaption>
            <span>Tariku Kebede</span>
            <a href="http://ttkethiopia.tk/">Website: ttkethiopia.tk</a>
            <a href="https://github.com/ttkethiopia">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/img-3.png" alt="">
          <figcaption>
            <span>Mohammed</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/img-4.png" alt="">
          <figcaption>
            <span>Selamawit Shibiru</span>
            <a href="http://selamina.tk/">Website: selamawit.tk</a>
            <a href="https://github.com/selamcoding/">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/selamawit-shibru-488656143/">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/Bezawit.png" alt="">
          <figcaption>
            <span>Bezawit Gebrekidan</span>
            <a href="bezu.ga">Website: bezu.ga </a>
            <a href="https://github.com/bez/">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/bezi-chane-a6635917b/">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/img-6.png" alt="">
          <figcaption>
            <span>Etsegenet</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/James.png" alt="">
          <figcaption>
            <span>James Kalunga</span>
            <a href=" jkalunga.com">Website: jkalunga.com</a>
            <a href="https://github.com/jskalu/">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/james-kalunga-a9786368/">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/Olyadi.png" alt="">
          <figcaption>
            <span>Oliyad Angassa</span>
            <a href="http://olyadi.ga/">Website: olyadi.ga </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/Nisar.png" alt="">
          <figcaption>
            <span>Nasir Amery</span>
            <a href="http://nisar.ga/">Website: nasir.ga</a>
            <a href="https://github.com/nisarfriend/">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/Liya.png" alt="">
          <figcaption>
            <span>Liya Adugna</span>
            <a href=" liya2019.ga">Website: liya2019.ga</a>
            <a href="https://github.com/Liya2019/">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/Bizuayehu.png" alt="">
          <figcaption>
            <span>Bizuayehu Hunde</span>
            <a href="http://bizuayehu.ga/">Website: bizuayehu.ga</a>
            <a href="https://github.com/bizuayehu1968/">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/img-12.png" alt="">
          <figcaption>
            <span>Lili</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/Abel.png" alt="">
          <figcaption>
            <span>Abel Haile</span>
            <a href="djabelmixmaster.com">Website: djabelmixmaster.com</a>
            <a href="https://github.com/djabelbas/">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/img-14.png" alt="">
          <figcaption>
            <span>Nan</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/img-15.jpg" alt="">
          <figcaption>
            <span>Anteneh</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/Wali.png" alt="">
          <figcaption>
            <span>Wali Omeri</span>
            <a href="http://walikhanomeri.ga/"> Website: walikhanomeri.ga</a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
            <figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/Tefese.png" alt="">
          <figcaption>
            <span>Tafese Diyana</span>
            <a href="http://tafesediyana.ga/">Website: tafesediyana.ga</a>
            <a href="https://github.com/Tdiyana">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/tafese-diyana-570760183/">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/img-16.png" alt="">
          <figcaption <span>Girma</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/img-17.png" alt="">
          <figcaption>
            <span>Tsegaye</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
          </figuer>
      </div>
      <div class="summer-2019">
        <p>Graduates from the Summer 2019 Refcode class.</p>

        <figure class="figure">
          <img src="../../img/IMG_20190720_181823.jpg" alt="">
          <figcaption>
            <span>Dagim Tibebeselassie</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
            <figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/IMG_20190720_182006.jpg" alt="">
          <figcaption>
            <span>figureya Sharma</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/IMG_20190720_183117.jpg" alt="">
          <figcaption>
            <span>Julia Gaines</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/MVIMG_20190720_182636.jpg" alt="">
          <figcaption>
            <span>Gediyon N Yirdaw</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/20190907_154718.jpg" alt="">
          <figcaption>
            <span>Ruth K</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/IMG_20190720_184314.jpg" alt="">
          <figcaption>
            <span>Nai Sai Aung</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/IMG_20190720_184509.jpg" alt="">
          <figcaption>
            <span>patrice kigoto</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/IMG_20190720_183555.jpg" alt="">
          <figcaption>
            <span>Meron</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/IMG_20190720_184621.jpg" alt="">
          <figcaption>
            <span>Rosemary Dube</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/MVIMG_20190720_181603.jpg" alt="">
          <figcaption>
            <span>Billy</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/MVIMG_20190720_181315.jpg" alt="">
          <figcaption>
            <span>Aimalsayeq</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/MVIMG_20190720_183255.jpg" alt="">
          <figcaption>
            <span>Kuribachew</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/MVIMG_20190720_184150.jpg" alt="">
          <figcaption>
            <span>Mkwala Elocho</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/IMG_20190720_182257.jpg" alt="">
          <figcaption>
            <span>Emmanuel M.</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="../../img/img-16.png" alt="">
          <figcaption>
            <span>Danny Kabuya</span>
            <a href="">Website: </a>
            <a href="">GitHub Profile</a>
            <a href="">LinkedIn Profile</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <markup>
