<style>
html{
	scroll-behavior: smooth;
}
.graduates_profile{
    display: grid;
}
.cohorts a{
	text-decoration: none;
	font-size: 1.5em;
	margin-left: 1.5em;
}
.cohorts li{
	list-style: none;
}
h2{
	text-align: center;
}
.graduates{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pic{
	display: grid;
	margin: 0 auto;
}

.pic img{
	width: 200px;
	height: 200px;
	margin-bottom: 1em;
	margin-top: 3em;
}

.group-pic img{
	height: 600px;
	margin-left: 13em;
}
.group-pic p{
	text-align: center;
}
.pic a{
	text-decoration: none;

}
@media(max-width: 680px){
	.graduates{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.group-pic img{
		margin: 0 auto;
		max-width: 100%;
		height: 400px;

		}
}
.go-back{
	background-color: lightskyblue;
	padding: .1em;
	font-size: 1.5em;
	margin-top: 1em;
	margin-right: 1.5em;
	float: right;


}
</style>

<div class="graduates_profile">

		<aside class="cohorts">

				<ul>
					<li><a href="#graduates-1">Spring 2017 Cohort</a></li>
					<li><a href="#graduates-2">Summer 2018 Cohort</a></li>
					<li><a href="#graduates-3">Spring 2019 Cohort</a></li>
					<li><a href="#graduates-4">Summer 2019 Cohort</a></li>
				</ul>
			  </aside>
			<main>
	<div>
			<h2>Spring 2017 Cohort</h2>
		<div class="group-pic">

			<img src="../../img/graduation2017.jpg" alt="">
			<p>Graduates from the Summer 2017 Refcode class.</p>
		</div>

		<div class="graduates" id="graduates-1">

				  <div class="pic"><img src="../../img/mustafa.jpg" alt="">
					<caption>Mustafa Alsaeedi</caption>
					<a href="http://MustafaAlsaeedi.tk/">Website: MustafaAlsaeedi.tk</a>
					<a href="https://github.com/MustafaAlsaeedi">GitHub Profile</a>
					<a href="https://www.linkedin.com/in/mustafa-a-b207a4150/">LinkedIn Profile</a>
				</div>
				  <div class="pic"><img src="../../img/joan.jpg" alt="">
					<caption>Joan Abad</caption>
					<a href="https://nande.ml/">Website: nande.ml</a>
					<a href="https://github.com/joanhdez89">GitHub Profile</a>
					<a href="https://www.linkedin.com/in/joan-hernandez-abad-41335a93/">LinkedIn Profile</a>
			</div>
				  <div class="pic"><img src="../../img/mobin.jpg" alt="">
					<caption>Mobin Zahedi</caption>
					<a href="https://mobinzahedi.ga/">Website: mobinzahedi.ga</a>
					<a href="https://github.com/mobinzahedi">GitHub Profile</a>


				</div>
				  <div class="pic"><img src="../../img/hemin.jpg" alt="">
					<caption>Hemin Muradkhan</caption>
					<a href="https://kirkukcenter.ga/">Website: kirkukcenter.ga</a>
					<a href="https://github.com/kirkukcenter">GitHub Profile</a>
					<a href="https://www.linkedin.com/in/unavailable/">LinkedIn Profile</a>
				</div>
		</div>
		<button  class="go-back" onclick="goBack()">Go Back</button>
	</div>
	<div>
			<h2>Summer 2018 Cohort</h2>
		<div class="group-pic">

			<img src="../../img/graduation2018.jpg" alt="">
			<p>Graduates from the Summer 2018 Refcode class.</p>
		</div>
		<div class="graduates" id="graduates-2">

				  <div class="pic"><img src="../../img/Sintayehu_800.jpg" alt="">
					<caption>Sintayehu Mekonnen</caption>
					<a href="http://sintu.me/">Website: sintu.me</a>
					<a href="https://github.com/24sint">GitHub Profile</a>
					<a href="https://www.linkedin.com/in/sintu-m/">LinkedIn Profile</a>
				</div>
				  <div class="pic"><img src="../../img/selamu_800.jpg" alt="">
					<caption>Selamu Otocho</caption>
					<a href="http://selamu.ga/">Website: selamu.ga</a>
					<a href="https://github.com/daruselamselamu">GitHub Profile</a>
					<a href="https://www.linkedin.com/in/selamu-otocho-90173977/">LinkedIn Profile</a>
				</div>
				  <div class="pic"><img src="../../img/Mekuanent_800.jpg" alt="">
					<caption>Mekuanent Gelagay
					<a href="https://tolo.ga/">Website: tolo.ga</a>
					<a href="https://github.com/Gelagay/">GitHub Profile</a>
					<a href="linkedin.com/in/meku-gelagay-81009912b/">LinkedIn Profile</a>
					</caption>
				</div>
				<div class="pic"><img src="../../img/Yohannes_800.jpg" alt="">
					<caption>Yohannes Bahta</caption>
					<a href="https://ethioerinews.ga/">Website: ethioerinews.ga</a>
					<a href="https://github.com/Yohannesbb">GitHub Profile</a>
					<a href="https://www.linkedin.com/in/yohannes-bahta-3a2baa165/">LinkedIn Profile</a>
				</div>
		</div>
		<button  class="go-back" onclick="goBack()">Go Back</button>
	</div>
	<div>
			<h2>Spring 2019 Cohort</h2>
		<div class="group-pic">

			<img src="../../img/graduates&volunteers2019.jpg" alt="">
			<p>Graduates from the Spring 2019 Refcode class.</p>
		</div>
		<div class="graduates" id="graduates-3">

			<div class="pic"><img src="../../img/Nezira.png" alt="">
				<caption>Nezira Usmael</caption>
				<a href="nezirausmael.ga">Website: nezirausmael.ga</a>
				<a href="https://github.com/UmmuAyyub/">GitHub Profile</a>
				<a href="https://www.linkedin.com/in/nezira-usmael-6358b3182/">LinkedIn Profile</a>
			</div>

			<div class="pic"><img src="../../img/Tariku.png" alt="">
				<caption>Tariku</caption>
				<a href="http://ttkethiopia.tk/">Website: ttkethiopia.tk</a>
				<a href="https://github.com/ttkethiopia">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/img-3.png" alt="">
				<caption>Mohammed</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
				<a href=""></a>
			</div>
			<div class="pic"><img src="../../img/img-4.png" alt="">
				<caption>Selamawit Shibiru</caption>
				<a href="http://selamina.tk/">Website: selamawit.tk</a>
				<a href="https://github.com/selamcoding/">GitHub Profile</a>
				<a href="https://www.linkedin.com/in/selamawit-shibru-488656143/">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/Bezawit.png" alt="">
				<caption>Bezawit Gebrekidan</caption>
				<a href="bezu.ga">Website: bezu.ga </a>
				<a href="https://github.com/bez/">GitHub Profile</a>
				<a href="https://www.linkedin.com/in/bezi-chane-a6635917b/">LinkedIn Profile</a>
				<a href=""></a>
			</div>
			<div class="pic"><img src="../../img/img-6.png" alt="">
				<caption>Etsegenet</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/James.png" alt="">
				<caption>James Kalunga</caption>
				<a href=" jkalunga.com">Website: jkalunga.com</a>
				<a href="https://github.com/jskalu/">GitHub Profile</a>
				<a href="https://www.linkedin.com/in/james-kalunga-a9786368/">LinkedIn Profile</a>

			</div>
			<div class="pic"><img src="../../img/Olyadi.png" alt="">
				<caption>Oliyad Angassa</caption>
				<a href="http://olyadi.ga/">Website: olyadi.ga </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/Nisar.png" alt="">
				<caption>Nasir Amery</caption>
				<a href="http://nisar.ga/">Website: nasir.ga</a>
				<a href="https://github.com/nisarfriend/">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/Liya.png" alt="">
				<caption>Liya Adugna</caption>
				<a href=" liya2019.ga">Website: liya2019.ga</a>
				<a href="https://github.com/Liya2019/">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>

			</div>
			<div class="pic"><img src="../../img/Bizuayehu.png" alt="">
				<caption>Bizuayehu Hunde</caption>
				<a href="http://bizuayehu.ga/">Website: bizuayehu.ga</a>
				<a href="https://github.com/bizuayehu1968/">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>

			</div>
			<div class="pic"><img src="../../img/img-12.png" alt="">
				<caption>Lili</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/Abel.png" alt="">
				<caption>Abel Haile</caption>
				<a href="djabelmixmaster.com">Website: djabelmixmaster.com</a>
				<a href="https://github.com/djabelbas/">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/img-14.png" alt="">
				<caption>Nan</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/img-15.jpg" alt="">
				<caption>Anteneh</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			 <div class="pic"><img src="../../img/Wali.png"alt="">
				<caption>Wali Omeri</caption>
				<a href="http://walikhanomeri.ga/"> Website: walikhanomeri.ga</a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/Tefese.png" alt="">
				<caption>Tafese Diyana</caption>
				<a href="http://tafesediyana.ga/">Website: tafesediyana.ga</a>
				<a href="https://github.com/Tdiyana">GitHub Profile</a>
				<a href="https://www.linkedin.com/in/tafese-diyana-570760183/">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/img-16.png" alt="">
				<caption>Girma</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/img-17.png" alt="">
				<caption>Tsegaye</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
		</div>
		<button  class="go-back" onclick="goBack()">Go Back</button>
	</div>

	<div>
			<h2>Summer 2019 Cohort</h2>
		<div class="group-pic">

			<img src="../../img/MVIMG_20190720_190912.jpg" alt="">
			<p>Graduates from the Summer 2019 Refcode class.</p>
		</div>
		<div class="graduates" id="graduates-4">

			<div class="pic pic-dir"><img src="../../img/IMG_20190720_181823.jpg" alt="">
				<caption>Dagim Tibebeselassie</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/IMG_20190720_182006.jpg" alt="">
				<caption>Divya Sharma</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>

			</div>
			<div class="pic"><img src="../../img/IMG_20190720_183117.jpg" alt="">
				<caption>Julia Gaines</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/MVIMG_20190720_182636.jpg" alt="">
				<caption>Gediyon N Yirdaw</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/20190907_154718.jpg" alt="">
				<caption>Ruth K</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/IMG_20190720_184314.jpg" alt="">
				<caption>Nai Sai Aung</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/IMG_20190720_184509.jpg" alt="">
				<caption>patrice kigoto</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/IMG_20190720_183555.jpg" alt="">
				<caption>Meron</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/IMG_20190720_184621.jpg" alt="">
				<caption>Rosemary Dube</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/MVIMG_20190720_181603.jpg" alt="">
				<caption>Billy</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/MVIMG_20190720_181315.jpg" alt="">
				<caption>Aimalsayeq</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/MVIMG_20190720_183255.jpg" alt="">
				<caption>Kuribachew</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/MVIMG_20190720_184150.jpg" alt="">
				<caption>Mkwala Elocho</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/IMG_20190720_182257.jpg" alt="">
				<caption>Emmanuel M.</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
			<div class="pic"><img src="../../img/img-16.png" alt="">
				<caption>Danny Kabuya</caption>
				<a href="">Website: </a>
				<a href="">GitHub Profile</a>
				<a href="">LinkedIn Profile</a>
			</div>
		</div>
		<button  class="go-back" onclick="goBack()">Go Back</button>
		</div>
	</div>
</main>

<script>
function goBack() {
  window.history.back();
}
</script>
