<div class="component" title="footer" version="2.2.4">
  <includes>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lexend+Deca&display=swap" rel="stylesheet">
  </includes>
  <markup>
    <div class="footer">
      <footer class="footer-container">
        <div class="footer-main-1">
          <h2>Explore</h2>

          <div>
            <ul class="main_column">
              <li>
                <a href="/pages/team.html">Our Team</a>
              </li>
              <li>
                <a href="/pages/founder.html">Meet the Founder</a>
              </li>
              <li>
                <a href="/our-story">Our Story</a>
              </li>
            </ul>
          </div>

          <div>
            <ul class="main_column">
              <li>
                <a href="/pages/graduates-summer-2017.html">Cohorts and Graduates</a>
              </li>
              <li>
                <a href="/pages/teamcode.html">TeamCode</a>
              </li>
              <li>
                <a nohref="" title="Page not created yet.">Photo Albums</a>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <hr class="hr-1">
        </div>

        <div class="footer-main-2">
          <h2>Engage</h2>

          <div>
            <h3>Participants</h3>
            <ul class="main_column">
              <li>
                <a href="/apply">Student Application</a>
              </li>
            </ul>
          </div>

          <div>
            <h3>Volunteers</h3>
            <ul class="main_column">
              <li><a href="/volunteer-opportunities">Volunteer Opportunities </a></li>
              <li><a href="https://internal.refcode.org/volunteer">Volunteer Application</a></li>
            </ul>
          </div>

          <div>
            <h3>Connect</h3>
            <ul class="main_column">
              <li><a href="contact.html">Contact Form</a></li>
              <li><a href="/pages/subscribe.html">Subscribe to our Newsletter</a></li>
              <li><a href="https://donate.tektontraining.org/116411-refcode" rel="external">Donate</a></li>
              <li>
                <a href="https://www.facebook.com/refcodecommunity">Facebook</a> /
                <a href="https://www.instagram.com/refcodecommunity">Instagram</a> /
                <a href="https://twitter.com/refcode_tweets">Twitter</a> /
                <a href="https://www.linkedin.com/school/refcode/">LinkedIn</a> /
                <a href="https://www.youtube.com/channel/UCH_hIEFPTFJ7RzptXwdTwWA">YouTube</a>
              </li>
              <li><a href="https://merch.refcode.org/store" rel="external">Buy Merch</a></li>
            </ul>
          </div>

          <div>
            <h3>Businesses</h3>
            <ul class="main_column">
              <li>
                <a href="/pages/partner.html">Partner with us</a>
              </li>
            </ul>
            <h3>Media</h3>
            <ul class="main_column">
              <li>
                <li><a href='/pages/brand-and-style-guide.html' class="current">Brand Assets and Style Guide</a></li>
                <li><a href='/pages/press-releases.html'>Press Releases</a></li>
                <li><a href='/pages/media-inquiries.html'>Media Inquiries</a></li>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer-main-centered">
          <a href="https://tektontraining.org/" class="no-hover"><img src="../img/tekton_logo.png" class="footer-tekton-logo"/></a>
          <p>Refcode is a program of <a class="underline-footer" href="https://tektontraining.org/our-program/refcode-is-a-program-of-tekton/">Tekton Career Training</a>, a 501(c)3 nonprofit.</p>
        <p>This website was built by <a class="underline-footer" href="/pages/teamcode.html">Refcode graduates</a>.</p>
        </div>
      </footer>
    </div>
  </markup>
  <style>
    .footer {
      background: white;
      color: black;
      border-top: solid 1px #aaa;
    }

    .footer-container {
      display: grid;
      column-gap: 40px;
    }

    .footer-main-1,
    .footer-main-2{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 40px;
      margin: 20px 0;
    }

    .footer-main-centered {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      margin-top: 40px;
    }

    .footer p {
      font-size: 12px;
    }

    .footer .underline-footer {
      border-bottom: solid 1px #aaa;
    }
    .footer .footer-tekton-logo {
      width: 35px;
    }

    .footer li {
      list-style-type: none;
      margin: 0 0 12px 0;
    }

    .footer a {
      text-decoration: none;
      color: #444;
    }

    .footer h2 {
      font-family: "Lexend Deca", sans-serif;
    }

    .footer .main_column {
      font-family: Lato, sans-serif;
      padding-left: 0;
    }

    .footer .hr-1 {
      width: 100%;
      height: 1px;
      background-color: #aaa;
      border: none;
      margin-bottom: 0;
    }

    .footer a:hover {
      border-bottom: solid 1px lightseagreen;
    }

    .footer a[nohref]:hover {
      border-bottom: none;
      cursor: pointer;
    }

    .footer a.no-hover:hover {
      border-bottom-width: 0;
    }
    @media only screen and (max-width: 1000px) {
      .step {
        padding: 1em;
      }
      .step:nth-child(even) {
        width: calc(40% - 1em);
      }
    }

    @media only screen and (max-width: 1000px) {

      .footer-main-1,
      .footer-main-2 {
        display: block;
        text-align: center;
      }
      .main_column {
        margin-bottom: 40px;
      }
    }
  </style>
</div>
