<div class="component" title="text-with-video" version="1.2">
  <style>
    .txt-wrapper {
      column-count: 3;
    }
    .txt-wrapper p {
      margin-top: 0;
    }

    .video-wrapper iframe{
       height:320px;
       width:100%;
    }

    @media screen and (min-width:570px){
      .video-wrapper{
        margin:auto;
        width:550px;
        height:350px;
        }
      .video-wrapper iframe {
        width:100%;
        height:100%;
      }
    }
  </style>
  <markup>
    <div class="video-txt-wrapper">
      <div class="txt-wrapper">
          <h1>Heading goes here</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
             <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
             <h2>Another Heading</h2>
              <p>Pascus alitum aute irure dolor in reprehenderit bolor in voluptate velit esse cillum dolore eu sept fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui non officia deserunt mollit anim id est laborum. Est patrica.</p>
            </div>
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/Sw4r03j1Oc8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
  </markup>
</div>
