<div class="component" title="Button" version="1.3">
  <includes>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lexend+Deca&display=swap" rel="stylesheet">
  </includes>

  <style>
    .button {
      border-width: 1px;
      border-color: #ffffff;
      border-radius: 0;
      background: lightseagreen;
      color: #ffffff;
      border-style: solid;
      padding: 9px 20px;
      line-height: 14px;
      font-size: 16px;
      font-family: 'Lexend Deca', sans-serif;
      font-weight: bold;
      display: inline-block;
      position: relative;
      zoom: 1;
      border: 1px solid transparent;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }

    a.button {
      text-decoration: none;
      padding-left: 0;
      padding-right: 0;
    }

  </style>

  <markup>
    <a href="#" class="button">Link</a>
    <button class="button">Button</button>
  </markup>
</div>
