<div class="component"  title="Scrolling Image Banner" version="1.5">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lexend+Deca&display=swap" rel="stylesheet">
  <style>
    /* Scrolling Image Banner 1.6 */
    .image-banner {
      background-image: url("https://placeimg.com/940/480/nature");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      background-attachment: fixed;
      height: 345px;
      position: relative;
      overflow: scroll;
    }
    @media only screen and (max-width: 1000px) {
      .image-banner {
        height: 80vh;
      }
    }

    .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      font-weight: bolder;
      color: white;
      text-align: center;
      font-family: 'Lexend Deca', sans-serif;
    }
  </style>
  <markup>
    <div class="image-banner">
      <div class="banner-text">Header</div>
    </div>
  </markup>
  </div>
