/* Circle Image 1.0 */
.circleImage {
  border-radius: 50%;
  border: solid 5px #ebebeb;
}

/* Button 1.1 */
.button {
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 0;
  background: #1ab2cf;
  text-transform: uppercase;
  color: #ffffff;
  border-style: solid;
  padding: 9px 20px;
  line-height: 14px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: inline-block;
  position: relative;
  zoom: 1;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
}

a.button {
  text-decoration: none;
}

/* Scrolling Image Banner 1.1 */
.image-banner {
  background-image: url("http://placeimg.com/940/480/nature");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  background-attachment: fixed;
  height: 755px;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bolder;
  color: white;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
}

/* figure 1.1 */
.figure {
    display: grid;
    margin: 0 auto;
}

.figure img {
    width: 100%;
    margin-bottom: 1em;
}

.figure figcaption {
    text-align: center;
}
.figure figcaption a {
    text-decoration: none;
}

/* navigation-component 1.1 */
.aside-navigation li {
  list-style: none;
  font-size: 1.5em;
  border-top: .5px solid #9aa4a5;
  border-bottom: .5px solid #9aa4a5;
  border-left: 1px solid #9aa4a5;
  padding: 1rem;
}

.aside-navigation a {
  text-decoration: none;
  color: #070606;
}

.aside-navigation a:focus {
  color: #9e9e9e;
}

/* twoColumnGrid 1.0 */
.twoColumnGrid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1em;
    }

.twoColumnGrid img {
    width: 100%;
    }

@media(max-width: 500px){
    .twoColumnGrid{
      grid-template-columns: 1fr
    }
}

/* fourColumnGrid 1.1 */
.fourColumnGrid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}
.fourColumnGrid img {
  width: 100%;
}
@media(max-width: 680px){
	.fourColumnGrid{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
@media(max-width: 360px){
	.fourColumnGrid{
		display: grid;
		grid-template-columns: 1fr;
	}
}

/* main-banner 1.7 */
.main-banner {
  height: 92px;
}

.logo-link {
  width: 70px;
  grid-area: logo-link;
}

.logo {
  width: 100%;
}

.nav-container {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.nav-content {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  grid-template-areas: "logo-link main-banner-nav-list";
}

.main-banner-nav-list {
  padding: 10px;
  grid-area: main-banner-nav-list;
  margin: 0;
}

.main-banner-nav-list li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  font-family: "Lexend Deca", sans-serif;
}


.main-banner-nav-list li a {
  text-decoration: none;
  padding-bottom: 5px;
  color: #333;
}

.main-banner-nav-list a.current {
  border-bottom: 1px solid #444;
}

.main-banner-nav-list.main-banner-nav-list li:hover a {/* EASB */
  color: black;
  border-bottom: 1px solid lightseagreen;
}

.main-banner .toggle {
  height: 88px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: right;
  color: white;
  font-size: 20px;
  display: none;
  grid-area: toggle;
}

@media (max-width: 768px) {
  .nav-content {
    grid-template-areas: "logo-link toggle";
  }

  .main-banner .toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
  }

  .main-banner-nav-list {
    display: none;
    position: absolute;
    background: black;
    width: auto;
    right: 0;
    top: 88px;
  }

  .main-banner-nav-list.open {
    display: block;
  }

  .main-banner-nav-list li {
    display: block;
    text-align: right;
  }

  .active {
    display: block;
  }
}

/* image-carousel 1.3 */
.carousel-wrapper {
  height: 420px;
  position: relative;
  overflow: hidden;
  width: 100vw;
  left: calc(-1 * (100vw - 980px)/2);
}
.carousel-image-wrapper {

  width: 100vw;
  overflow-y: scroll;
  height: 100%;
  transition: .5s;
  transition-timing-function: linear;
}
.carousel-image-wrapper .right-arrow,
.carousel-image-wrapper .left-arrow {
  position: absolute;
  height: 420px;
  line-height: 420px;
  vertical-align: middle;
  font-size: 60px;
  color: white;
  text-shadow: 2px 4px #2229;
  cursor: pointer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.carousel-image-wrapper .right-arrow:hover,
.carousel-image-wrapper .left-arrow:hover {
  text-shadow: 4px 6px lightseagreen;
}
.carousel-image-wrapper .right-arrow {
  right: 1rem;
}
.carousel-image-wrapper .right-arrow:after {
  content: "→";
}
.carousel-image-wrapper .left-arrow {
  left: 1rem;
  animation-duration: 4s;
}
.carousel-image-wrapper .left-arrow:after {
  content: "←";
}

.carousel-image {
    width: 100vw;
}
.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce {
  0%   { transform: translateX(0); }
  30%  { transform: translateX(0); }
  10%  { transform: translateX(-10px); }
  50%  { transform: translateX(0); }
  57%  { transform: translateX(-3px); }
  64%  { transform: translateX(0); }
  100% { transform: translateX(0); }
}

.carousel-image-wrapper,
.carousel-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel-image {
  position: absolute;
  top: 0;
}
.carousel-image > p {
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  font-size: 25px;
  padding: 0em 1em;
  background-color: #2229;
  position: absolute;
  bottom: 0;
  display: inline;
  margin: 0;
  left: 10%;
  right: 10%;
  bottom: 1em;
}
.carousel-image > p > b {
  color: lightseagreen;
}

#carousel-image-1 {
  background-image: url("https://via.placeholder.com/800x420");
  background-size: cover;
  background-position: 50%;
  left: 0;
}

#carousel-image-2 {
  background-image: url("https://via.placeholder.com/800x420");
  background-size: cover;
  background-position: 0% 32%;
  left: 100vw;
}

#carousel-image-3 {
  background-image: url("https://via.placeholder.com/800x420");
  background-size: cover;
  background-position: 0% 32%;
  left: 200vw;
}

@media screen and (max-width:1000px) {
  .carousel-wrapper {
    height: 600px;
    width: 100vw;
    left: 0;
  }

  #carousel-image-1 {
    background-position: 50%;
  }

  #carousel-image-2 {
    background-position: 10% 32%;
  }

  #carousel-image-3 {
    background-position: 49% 32%;
  }
}


/* Journey Path 1.1 */
.journeyPath {
  padding: 5em 0;
  max-width: 960px;
  margin: 0 auto;
}

/* all steps */
.step {
  position: relative;
  padding: 2em 2em 1em 2em;
}
.step > p {
  margin-top: 1.5em;
  margin-bottom: 0;
}

/* right steps */
.step:nth-child(odd) {
  width: 40%;
  margin-left: 50%;
  border-left: solid 6px black;
}
.step:nth-child(odd):before {
  content: "";
  color: transparent;
  position: absolute;
  top: 2em;
  width: 30px;
  background-color: black;
  height: 30px;
  border-radius: 50%;
  left: -18px;
}

/* left steps */
.step:nth-child(even) {
  width: calc(50% + 6px);
  border-right: solid 6px black;
  position: relative;
  text-align: right;
  padding-left: 10%;

}
.step:nth-child(even):before {
  content: "";
  color: transparent;
  position: absolute;
  top: 2em;
  width: 30px;
  background-color: black;
  height: 30px;
  border-radius: 50%;
  right: -18px;
}

/* first step */
.step:nth-child(1) {
  padding-top: 0;
}
.step:nth-child(1) > h3 {
  margin-top: 0;
}
.step:nth-child(1):before {
  top: 0;
}

/* last step */
.step:nth-last-child(1) {
  padding-bottom: 0;
}

/* Footer 2.0 */

.footer {
  background: white;
  color: black;
}

.footer-container {
  display: grid;
  column-gap: 40px;
}

.footer-main-1,
.footer-main-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 40px;
  margin-left: 75px;
}

.footer-main-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.footer .underline-footer {
  text-decoration: underline;
  margin-left: 5px;
  margin-right: 5px;
}

.footer li {
  list-style-type: none;
  margin: 0 0 12px 0;
}

.footer a {
  text-decoration: none;
  color: #444;
}

.footer h2 {
  font-family: "Lexend Deca", sans-serif;
}

.footer .main_column {
  font-family: Lato, sans-serif;
}

.footer .hr-1 {
  width: 90%;
  height: 1px;
  background-color: #444;
  border: none;
}

.footer a:hover {
  border-bottom: solid 1px #444;
}


/*
* Image Columns v1.1
*/
/* .column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}

@media (max-width: 960px) {
  .column-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .column-wrapper {
    grid-template-columns: 1fr;
  }
}

.single-column img {
  width: 100%;
} */
