.circleImage {
  max-width: 200px;
}
.student {
  margin-bottom: 50px;
}
.student.twoColumnGrid {
    grid-template-columns: 200px 40%;
    gap: 50px;
}
@media(max-width: 500px){
  .student.twoColumnGrid {
      grid-template-columns: 100%;
      gap: 10px;
      text-align: center;
  }
}
.student ul {
  list-style: none;
  padding: 0;
}

main > h2:first-child {
  margin-top: calc(50px + 92px);
  margin-bottom: 50px;
  text-align: center;
}
