/* Carousel 1.2 details */
#carousel-image-1 {
  background-image: url(../img/graduates3.jpg);
}

#carousel-image-2 {
  background-image: url(../img/graduates2.jpg);
}

#carousel-image-3 {
  background-image: url(../img/graduates1.jpg);
}

.image-banner-1 {
      background-image: url(../img/connections2.jpg);
}
.image-banner-2 {
    background-image: url(../img/connections3.jpg);
}
