.image-banner-1 {
      background-image: url(../img/un.jpg);
}

.image-banner-2 {
      background-image: url(../img/un-2.jpg);
}

.circleImage {
  max-width: 200px;
}
.speaker {
  margin-bottom: 50px;
}
.speaker.twoColumnGrid {
    grid-template-columns: 200px 40%;
    gap: 50px;
}
@media(max-width: 500px){
  .speaker.twoColumnGrid {
      grid-template-columns: 100%;
      gap: 10px;
      text-align: center;
  }
}
