.image-banner-1 {
      background-image: url(../img/un-2.jpg);
}
.image-banner-meetup {
      background-image: url(../img/meetup-a.jpg);
      background-position-y: -220px;
}
@media only screen and (min-width: 1000px) {
  .image-banner-1 {
        background-size: contain;
  }
}


.image-banner-2 {
      background-image: url(../img/un.jpg);
}

.banner-text.programs {
  font-size: 90px;
}
