.image-banner-1 {

        /* Fallback */
      background-image: url(../img/zoom-call-960.png);

      /* Chrome/Edge/Opera/Samsung, Safari will fallback to this as well */
      background-image: -webkit-image-set(url("../img/zoom-call-960.png") 1x, url("../img/zoom-call-1200.png") 2x);

      /* Standard use */
      background-image: image-set("../img/zoom-call-960.png" 1x, "../img/zoom-call-1200.png" 2x);

      background-position-y: -10px;
      background-size: contain;
}
@media(max-width: 1000px){
  .image-banner-1 {
    background-image: url(../img/zoom-call_square-960.png);
    background-size: cover;
  }
}
@media(max-width: 500px){
  .image-banner-1 {
    background-image: url(../img/zoom-call_square-640.png);
    background-size: cover;
  }
}
.banner-text h3 {
  background-color: #00000066;
}

.circleImage {
  max-width: 200px;
}
.speaker {
  margin-bottom: 50px;
}
.speaker.twoColumnGrid {
    grid-template-columns: 200px 40%;
    gap: 50px;
}
@media(max-width: 500px){
  .speaker.twoColumnGrid {
      grid-template-columns: 100%;
      gap: 10px;
      text-align: center;
  }
}

.boxed-in {
  border: solid 1px #444;
  margin: 10px 0;
  padding: 50px 20%;
  text-align: center;
  min-height: 240px;
}
.boxed-in p {
  margin: 40px 0;
}

.big {
  font-size: 2em;
}

.imgcontain {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.imgcontain img {width: 100%;}

.aside-navigation.patch li > a {
  display: inline-block;
}
.aside-navigation.small ul {
  padding-left: 0;
}
.aside-navigation.small li {
  font-size: 1em;
  padding-top: 0;
  padding-bottom: 20px;
}
