.image-banner.banner1 {
  background-image: url("/img/MVIMG_20190515_201211.jpg");
  height: 350px;
  background-position-y: -270px;
}


.boxed-in {
  border: solid 1px #444;
  padding: 50px 20%;
  text-align: center;
  min-height: 240px;
}
.boxed-in p {
  align-self: center;
  width: 100%;
}
