.pill-button{
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 25px;
  margin-bottom:25px;
  cursor: pointer;
  border-radius: 40px;
  font-size: 20px;
  font-family: "Lexend Deca", sans-serif;
}

.card__pill-button {
  border: none;
  color: #333;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 14px;
}


.pill-button--306F9C{
  background-color: #306F9C88;
}

.pill-button--0D7D18{
  background-color: #0D7D1888;
}

.pill-button--B26F20{
  background-color: #B26F2088;
}

.pill-button--B22020{
  background-color: #B2202088;
}

.pill-button--412986{
  background-color: #41298688;
}

.pill-button--333333{
  background-color: #333333CC;
}
.pill-button--333333.card__pill-button{
  background-color: #99999988;
}

.pill-button:focus{
  position: relative;
  outline:none;
  background-color: white;
  color:#20B2AA;
  border: 1px solid #20B2AA
}

.pill-button:focus::after{
  content:"\2713";
  position: absolute;
  top:28%;
  left:20px;
}
