<div class="component" title="figure" version="1.1">
<style>
.figure {
    display: grid;
    margin: 0 auto;
}

.figure img {
    width: 100%;
    margin-bottom: 1em;
}

.figure figcaption {
    text-align: center;
}
.figure figcaption a {
    text-decoration: none;
}
</style>

<markup>
  <figure class="figure">
    <img src="https://via.placeholder.com/150">
    <figcaption>
        <span>Name</span>
        <a nohref="" title="Page not created yet.">Website: example.com</a>
        <a nohref="" title="Page not created yet.">GitHub Profile</a>
        <a nohref="" title="Page not created yet.">LinkedIn Profile</a>
    </figcaption>
  </figure>
</markup>
</div>
