.banner-text{
  font-size: 20px;
}

.volunteer-text h2{
  text-align: center;
  font-size:32px;
  padding:15px 0px;
}

.volunteer-text p{
  text-align:left;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1000px) {
  .image-banner-1 {
    background-size: contain;
    background-position-y: -160px;
  }
}
.banner-text {
   font-size: 50px;
}
