<div class="component" title="side-nav" version="1.2">
   <includes>
      <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lexend+Deca&display=swap" rel="stylesheet">
    </includes>
<style>
.side-nav li {
   list-style: none;
   font-size: 1.5em;
   border-top: .5px solid #9aa4a5;
   border-left: 1px solid #9aa4a5;
   padding: 1rem;
}

.side-nav a {
   text-decoration: none;
   color: #070606;
}

.side-nav a:focus{
   color: #9e9e9e;
}

</style>
<markup>
  <aside class="side-nav">

      <ul>
          <li><a href="#page1">Page-1</a></li>
          <li><a href="#page2">Page-2</a></li>
          <li><a href="#page3">Page-3</a></li>
          <li><a href="#page4">Page-4</a></li>
          <li><a href="#page5">Page-5</a></li>
          <li><a href="#page6">Page-6</a></li>
          <li><a href="#page7">Page-7</a></li>
      </ul>
    </aside>
  </markup>
  </div>
