<h3>Button</h3>

<!-- START Meta -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
<!-- END Meta -->

<style>
/* START Button Atom v1 */
.button {
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 0;
    background: #1ab2cf;
    text-transform: uppercase;
    color: #ffffff;
    border-style: solid;
    padding: 9px 20px;
    line-height: 14px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
    zoom: 1;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
}
a.button {
    text-decoration: none;
}
/* END */
</style>

<!-- Button Atom v1 HTML -->
<a href="#" class="button">Link</a>
<button class="button">Button</button>
