<div class="component" title="figure Component" version="1.0">
<style>
.figure {
    display: grid;
    margin: 0 auto;
}

.figure img {
    width: 100%;
    margin-bottom: 1em;
}

.figure figcaption {
    text-align: center;
}
.figure figcaption a{
    text-decoration: none;
}
</style>


  <figure class="figure">
    <img src="https://via.placeholder.com/150">
    <figcaption>
        <span>Name</span>
        <a href="#">Website: example.com</a>
        <a href="#">GitHub Profile</a>
        <a href="#">LinkedIn Profile</a>
    </figcaption>
  </figure>

  
