<div class="component" title="figure Component" version="1.0">
<style>
.figure {
    display: grid;
    margin: 0 auto;
}

.figure img {
    width: 100%;
    margin-bottom: 1em;
}

.figure figcaption {
    text-align: center;
}
.figure figcaption a{
    text-decoration: none;
}
</style>


  <figure class="figure">
      <img src="../../img/mustafa.jpg" alt="">
    <figcaption>
        <span>Mustafa Alsaeedi</span>
        <a href="http://MustafaAlsaeedi.tk/">Website: MustafaAlsaeedi.tk</a>
        <a href="https://github.com/MustafaAlsaeedi">GitHub Profile</a>
        <a href="https://www.linkedin.com/in/mustafa-a-b207a4150/">LinkedIn Profile</a>
    </figcaption>
  </figure>

  <figure class="figure">
    <img src="../../img/joan.jpg" alt="">
  <figcaption>
      <span>Joan Abad</span>
      <a href="https://nande.ml/">Website: nande.ml</a>
      <a href="https://github.com/joanhdez89">GitHub Profile</a>
      <a href="https://www.linkedin.com/in/joan-hernandez-abad-41335a93/">LinkedIn Profile</a>
</figcaption>
</figure>

  <figure class="figure">
    <img src="../../img/mobin.jpg" alt="">
  <figcaption>
      <span>Mobin Zahedi</span>
      <a href="https://mobinzahedi.ga/">Website: mobinzahedi.ga</a>
      <a href="https://github.com/mobinzahedi">GitHub Profile</a>
  </figcaption>
</figure>

  <figure class="figure">
      <img src="../../img/hemin.jpg" alt="">
    <figcaption>
      <span>Hemin Muradkhan</span>
      <a href="https://kirkukcenter.ga/">Website: kirkukcenter.ga</a>
      <a href="https://github.com/kirkukcenter">GitHub Profile</a>
      <a href="https://www.linkedin.com/in/unavailable/">LinkedIn Profile</a>
  </figcaption>
</figure>
