<div>
    <style>
    h1 {
   font-family: "Times New Roman", Times, serif;
   letter-spacing: 1px;
   font-style: normal;
   text-align: center;
   font-size: 50px;
   font-weight: 500;
    }
    h2 {
        font-family: "Times New Roman", Times, serif;
        letter-spacing: 1px;
        font-style: normal;
        text-align: center;
        font-size: 35px;
        font-weight: 500;
    }
    h3 {
        font-family: "Times New Roman", Times, serif;
        letter-spacing: 1px;
        font-style: normal;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
    }
    p {
        font-family: "Times New Roman", Times, serif;
        letter-spacing: 0.5px;
        font-style: normal;
        font-size: 20px;
        font-weight: 250;
    }
    </style>
    <markup>
        <h1>h1 Sample</h1>
        <h2>h2 Sample</h2>
        <h3>h3 Sample</h3>
        <p>Welcome to our official refcode website</p>
    </markup>
</div>