#root * {
  box-sizing: border-box;
}

.flex-col{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin:auto;
  width:90%;
}

.grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:20px;
  margin:20px;
}

.buttons-wrapper{
  padding:20px 0px;
}

@media only screen and (min-width: 700px) {
  .grid{
   /* grid-template-columns: 1fr 1fr; */
   grid-template-columns: repeat(2, minmax(319px,1fr));
  }
}


@media only screen and (min-width: 1000px) {
  .grid{
    grid-template-columns: repeat(3, 319px);
    margin:0px;
  }
}
