<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="fav icon" href="../../favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/main.css">

</head>

<body>

  <header></header>

  <main></main>

  <footer>
    <p>&copy;</p>
  </footer>

  <script src="../../js/main.js"></script>

</body>
</html>
