/* Curriculum widget */

.curriculum-section {
  border: solid 2px #bbb;
  border-radius: 4px;
  margin: 1em;
}
.expanded .curriculum-section {
  padding-bottom: 1em;
}

.curriculum-content {
  display: none;
  padding: 1em 0;
}
.curriculum-header {
  margin: 0;
}


.curriculum-expandToggle {
  padding-right: 1em;
  width: calc(100% - 1em);
}
.curriculum-arrow {
  width: 0;
  height: 0;
  border-left: .6em solid transparent;
  border-right: .6em solid transparent;
  border-top: 1em solid #666;
}

.expanded .curriculum-arrow {
  border-top: none;
  border-bottom: 1em solid #666;
}

.expanded .curriculum-content {
  display: block;
  border-top: solid 2px #bbb;
}

/* Header Items */
.curriculum-row1 {
  cursor: pointer;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Grid Layout */
.curriculum-header {
  grid-area: header;
  padding-left: 1em;
}
.curriculum-date {
  grid-area: date;
}
.curriculum-content {
  grid-area: content;
  padding: 0 1em;
}
.curriculum-expandToggle {
  grid-area: arrow;
}

.curriculum-section {
  display: grid;
  grid-template-columns: 6fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header date arrow"
    "content content content";
}

/* Expand / Collapse Interactivity */
.curriculum-header:hover,
.curriculum-date:hover,
.curriculum-expandToggle:hover {
}

.expanded .curriculum-expandToggle:hover {
  border-bottom-color: #000;
}
.curriculum-expandToggle:hover {
  border-top-color: #000;
}

.curriculum-active .curriculum-row1 {
  background-color: #ddd;
}