/* Curriculum widget */

.expandingSection {
  border: solid 2px #bbb;
  border-radius: 4px;
  margin: 1em 0;
}
.expanded .expandingSection {
  padding-bottom: 1em;
}

.expandingSection-content {
  display: none;
  padding: 1em 0;
}
.expandingSection-header {
  margin: 0;
}


.expandingSection-expandToggle {
  padding-right: 1em;
  width: calc(100% - 1em);
  text-align: right;
}
.expandingSection-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: .6em solid transparent;
  border-right: .6em solid transparent;
  border-top: 1em solid #666;
}

.expanded .expandingSection-arrow {
  border-top: none;
  border-bottom: 1em solid #666;
}

.expanded .expandingSection-content {
  display: block;
  border-top: solid 2px #bbb;
}

/* Header Items */
.expandingSection-row1 {
  cursor: pointer;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Grid Layout */
.expandingSection-header {
  grid-area: header;
  padding-left: 1em;
}
.expandingSection-date {
  grid-area: date;
}
.expandingSection-content {
  grid-area: content;
  padding: 0 1em;
}
.expandingSection-expandToggle {
  grid-area: arrow;
}

.expandingSection {
  display: grid;
  grid-template-columns: 6fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header date arrow"
    "content content content";
}

/* Expand / Collapse Interactivity */
.expandingSection-header:hover,
.expandingSection-date:hover,
.expandingSection-expandToggle:hover {
}

.expanded .expandingSection-expandToggle:hover {
  border-bottom-color: #000;
}
.expandingSection-expandToggle:hover {
  border-top-color: #000;
}

.expandingSection-active {
  background-color: #fafafa;
}

.expandingSection-active .curriculum-row1 {
  background-color: #eee;
}

.expandingSection-active .curriculum-arrow {
  border-top-color: #222;

  position: relative;
  top: 1px;
  left: 1px;

}
.expandingSection-active.expanded  .expandingSection-arrow {
  border-top-color: transparent;
  border-bottom-color: #222;
}