.student-photo img {
  border-radius: 50%;
  width: 100px;
  border: solid 8px #aaa;
}
.student-name {
  margin: 0;
}

/* Grid Layout */
.student-name {
  grid-area: name;
}
.student-picture {
  grid-area: picture;
}
.student-links {
  grid-area: links;
}

.student {
  min-height: 116px;
  margin: 1em 0;
  display: grid;
  grid-template-columns: 116px 1fr;
  grid-template-rows: 1em 1fr;
  grid-template-areas:
    "picture name"
    "picture links";
}
