/* Site-wide styles */
body {
  font-family: sans-serif;
  color: #555;
}
img {
  max-width: 100%;
}

/* Header */
.header {
  border-bottom: solid 2px #bbb;
}
.header-logo {
  height: 60px;
}
.header-h1 {
  margin: 0;
  font-family: monospace;
  font-size: 4rem;
  color: #222;
}
.header-h1 {
  font-family: 'Pathway Gothic One', sans-serif;
}
.title-ref {
  color: #093265;
}
.title-code {
  color: #eb532a;
  border-color: #35826d
}


/* Header Nav*/
.nav-links  {
  text-align: justify;
  border-bottom: solid 2px #bbb;
  margin-top: 1em;
}
.nav-links:after { /* to allow one-line justify alignment */
  content: "";
  display: inline-block;
  width: 800px;
  height: 1px;
  font-size: 0;
}
.nav-link {
  display: inline-block;
  padding: 10px 0;
  font-family: monospace;
  font-size: 1.5rem;
}

.nav-link:hover {
  background-color: #ddd;
}



/* Grid Classes */
.grid-header-container {
  display: grid;
  grid-template-columns: minmax(60px, 1fr) minmax(380px, 800px) minmax(60px, 1fr);
  column-gap: 10px;
}
.grid-main-container {
  display: grid;
  grid-template-columns: minmax(60px, 1fr) minmax(380px, 800px) minmax(60px, 1fr);
  column-gap: 10px;
}
.grid-item--right {
  justify-self: right;
}

/* Utility */

.nopadding.nopadding.nopadding {
  padding: 0;
}

.googleForm {
  min-height: 600px;
  width: 100%;
}